{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
    <title>Best film</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <h1>
            <a href="{% url 'home' %}">Best film</a>
        </h1>
        <h2>
            <a href="{% url 'film_create' %}">+Yangi film joylash</a>
        </h2>
        <hr>
    </header>
    {% if user.is_authenticated %}
    <p>Xush kelibsiz, {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
    {% else %}
    <p class="login">
        <a href="{% url 'login' %}" class="log">Saytga kirish</a> |
        <a href="{% url 'signup' %}" class="log">Ro'yxatdan o'tish</a>
    </p>

    {% endif %}
    <div>
        {% block content %} {% endblock content %}
    </div>
</body>


</html>